@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;600&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700&family=Rampart+One&family=Roboto:wght@100;300;400;500;700&family=Zen+Old+Mincho:wght@400;500;600;700&display=swap');

* {
    margin: 0;
}
a {
    text-decoration: none;
    color: #303030;
}

body {
    font-family: 'Changa', 'Noto Sans JP', 'Noto Serif JP','Rampart One','Roboto', 'Zen Old Mincho', sans-serif, cursive;
}
